
%p.intro
  = Setting.where(:key => "home_text").first.try(:value).try(:gsub, "\n", "<br />").try(:html_safe)

%p.group_picture
  - if @setting.try(:image).present?
    = image_tag(@setting.image.url)


%h2
  Actualités

%p.news
  = Setting.where(:key => "news").first.try(:value).try(:html_safe)

%h2
  Prochain concert
- if @concert
  .concerts
    .concert{:class => @concert.image.present? ? "with-image" : "without-image"}
      %h4
        = I18n.l(@concert.date, :format => :long)
        - if @concert.place != ""
          \-
        = link_to @concert.place, "https://www.google.com/maps/search/#{@concert.place}/", :target => "_blank"
      %p
        - if @concert.image.present?
          = link_to image_tag(@concert.image.thumb.url), @concert.image.normal.url, :target => "_blank"
        = (@concert.title.gsub("\n", "<br />")).html_safe
        %br
        = (@concert.subtitle.gsub("\n", "<br />")).html_safe
        %br
        = (@concert.description.gsub("\n", "<br />")).html_safe
