%h2
  Musiciens

%h3
  Membres fondatrices

- @core_members.each_with_index do |musician, index|
  .musician
    %h4
      = musician.name
    %p{:class => index % 2 == 0 ? "left" : "right"}
      = image_tag(musician.image_url)
      = musician.description.html_safe

%h3.other_musicians
  Musiciens

- @other_members.each_with_index do |musician, index|
  .musician
    %h4
      = musician.name
    %p{:class => index % 2 == 0 ? "left" : "right"}
      = image_tag(musician.image_url)
      = musician.description.html_safe

%p.link-to-top
  = link_to "retour en haut de page", "#"