%h2
  Programmes

%ul.programs
  - @sections.each do |section|
    %li= link_to section.title, "/pages/program?r=#{section.title}"

- @programs.each do |program|
  .program
    %h4
      = program.title
    %p
      - if program.image_url.present?
        = image_tag(program.image_url)
      = program.description.html_safe

%h2
  Répertoire


%h3
  Septuor: quatuor à cordes, flûte, harpe, clarinette
%p.program
  Ravel : Introduction et Allegro pour harpe
  %br
  Debussy : Première rhapsodie pour clarinette

%h3
  Sextuor : quatuor à cordes clarinette, piano
%p.program
  Prokofiev: Ouverture sur des thèmes juifs opus 34

%h3
  Quintette avec piano
%p.program
  Dvorák: Quintette no 2 opus 81

%h3
  Quintette avec clarinette:
%p.program
  Brahms: Quintette avec clarinette op. 115
  %br
  Mozart: Quintette avec clarinette K. 581
  %br
  Weber: Quintette avec clarinette opus 34

%h3
  Quintette avec harpe
%p.program
  Cras: Quintette pour harpe, flûte, violon, alto et violoncelle

%h3
  Quatuor avec clarinette:
%p.program
  Mozart: Quatuor 1 op. 79 nach KV 317d (378)
  %br
  Mozart: Quatuor 2 op. 79 nach KV 374 f

%h3
  Quatuor avec piano:
%p.program
  Schumann: Quatuor avec piano op.47

%h3
  Trio alto, clarinette, piano:
%p.program
  Bruch: 8 pièces op. 83
  %br
  Mozart: Trio des Quilles K.498
  %br
  Schumann: Märchenerzählungen op. 132

%h3
  Trio violon, alto, violoncelle:
%p.program
  Schubert: Trio à cordes en sib majeur D. 471

%h3
  Sonate clarinette-piano:
%p.program
  Brahms : Sonate en fa mineur op. 120
  %br
  Brahms: Sonate en Mib Majeur op.120
  %br
  Debussy: Première Rhapsodie
  %br
  Poulenc: Sonate op.184
  %br
  Schumann: Fantaisiestücke op. 73

%h3
  Sonate alto-piano:
%p.program
  Brahms: Sonate en Mib Majeur op.120
  %br
  Schubert: Sonate pour Arpeggione D. 821
  %br
  Schumann: Märchenbilder opus 113

%h3
  Sonate violon-piano:
%p.program
  Bach: sonate n° 1 BWV 1014
  %br
  Beethoven: Le printemps opus 24
  %br
  Brahms: sonate n° 2 opus 100
  %br
  Ravel : Tsigane
  %br
  Schubert: Sonatine D. 384

%h3
  Duo violon-violoncelle:
%p.program
  Glière: duo opus 39
  %br
  Duo violon-alto:
  %br
  Mozart: duo K.423

%h3
  Duo deux violons:
%p.program
  Leclair: sonate en Sol Majeur op.3

%h3
  Duo alto-clarinette:
%p.program
  Beethoven: duos n° 1 et 2 WoO 27
  %br
  Pleyel: Sonate n° 1

%h3
  Duo violon -harpe :
%p.program
  De Falla : Jota
  %br
  Debussy : Vase romantique
  %br
  Fauré : Pavane
  %br
  Dvorak : Danse Slave n°1

%h3
  Piano solo:
%p.program
  Bach : Partita n°3 BWV 827
  %br
  Liszt: Saint François d’Assise
  %br
  Messiaen: la prédication aux oiseaux
  %br
  Messiaen: Le baiser de l’enfant Jésus
  %br
  Prokofiev: Visions fugitives op.22

%h3
  Violon solo:
%p.program
  Bach: Adagio Sonate n° 1 BWV 1001

%h3
  Alto solo:
%p.program
  Bach: Suite n° 1 BWV 1007
  %br
  Bach: Suite n° 3 BWV 1009

%h3
  Clarinette solo:
%p.program
  Debussy : Syrinx
  %br
  Kovacs : Hommage à M. de Falla
  %br
  Stravinsky: 3 pieces

