%h2
  Programmes

%ul.programs
  - @sections.each do |section|
    %li= link_to section.title, "/pages/program?r=#{section.title}"

- @programs.each do |program|
  .program
    %h4
      = program.title
    %p
      - if program.image_url.present?
        = image_tag(program.image_url(:thumb))
      = (program.description.gsub("\n", "<br />")).html_safe

%h2
  Répertoire

%table.repertoires
  - @repertoires.each_slice(2) do |repertoires|
    %tr
      - repertoires.each do |repertoire|
        %td
          .repertoire
            %h3
              = repertoire.title
            %p.program
              = (repertoire.description.gsub("\n", "<br />")).html_safe