!!! 5
%html{:lang => I18n.locale}
  %head
    %meta{:charset => 'UTF-8'}
    = csrf_meta_tags

    %title
      = t('.title')

    %link{ rel: 'icon', href: asset_path('favicon.ico') }
    = stylesheet_link_tag 'application'

  %body.pages
    .header
      %p.logo
        = link_to image_tag("logo.jpg"), "/"
      %ul.menu
        %li
          = link_to "Accueil", "/"
        %li
          = link_to "Musiciens", "/pages/musicians"
        %li
          = link_to "Agenda", "/agenda"
        %li
          = link_to "Programmes", "/pages/program"
        %li
          = link_to "Galerie", "/gallery"
        %li
          = link_to "Contact", "/contact"

    .main
      = yield
    .footer
      
